:root{
    --dirty-white:#FFF5E9;
    --white:#FFFF;
    --light-blue:#B3EAED;
    --blue:#331D77;
    --orange:#fa5e36;
}

.form{
    background: var(--blue);
    border-radius: 20px;
    height: 450px;
}
#btn{
    background: var(--orange);
    border: none;
    color: var(--white);
    border-radius: 40px;
    padding: 10px 15px;
}
#btn:hover{
    background-color: rgba(104, 104, 104, 0.623);
}