:root{
    --dirty-white:#FFF5E9;
    --white:#FFFF;
    --light-blue:#B3EAED;
    --blue:#331D77;
    --orange:#fa5e36;
}

#btn:hover{
    background-color: var(--orange);
    filter: blur(5px) brightness(50%);
}
.plans{
    margin-left: 15px;
}
